<div class="row mt-3 mt-lg-5">
    <div class="col">
        <h2 class="text-center title"><ins>You</ins></h2>
    </div>
</div>

<div #gameView class="game-view py-4 p-lg-5 mx-2 mx-lg-5 shadow">
    <div class="row">
        <div class="col text-center">
            <canvas #gameCanvas [height]="this.HEIGHT * this.SCALE" [width]="this.WIDTH * this.SCALE" style="border: 2px solid gray;"></canvas>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h3 class="text-center">Score: {{this.enviroment.snake.length}}</h3>
        </div>
    </div>
</div>

<div *ngIf="!this.isTerminalState && !this.isTouchScreen" class="p-3 p-lg-5">
    <div class="row align-items-center">
        <div class="col-auto">
            <h4>Play with WASD or &#8593; &#8592; &#8595; &#8594;</h4>
        </div>
    </div>
</div>

<div *ngIf="!this.isTerminalState && this.isTouchScreen" class="p-3 p-lg-5">
    <div class="row align-items-center">
        <div class="col-auto">
            <h4>Touch the white board to move the snake!</h4>
        </div>
    </div>
</div>

<div *ngIf="this.isTerminalState" class="p-3 p-lg-5">
    <div class="row justify-content-center">
        <div class="col text-center">
            <button class="btn btn-primary" (click)="start()">Restart</button>
        </div>
    </div>
</div>