<div class="row mt-5">
    <div class="col">
        <h2 class="text-center title"><ins>RL Agent</ins></h2>
    </div>
</div>

<div class="game-view p-5 mr-5 ml-5 shadow-lg">

    <div class="row">
        <div class="col text-center">
            <canvas #gameCanvas [height]="this.HEIGHT * this.SCALE" [width]="this.WIDTH * this.SCALE" style="border: 2px solid gray;"></canvas>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h1 class="text-center">Score: {{this.score}}</h1>
        </div>
    </div>
</div>

<div class="p-5">
    <div class="row align-items-center">
        <div class="col-auto">
            <h3>Shown games have been played by a DQN RL agent training on your browser.</h3>
        </div>
    </div>
</div>